[data-theme="dark"] {
  --root-bg: var(--black-850);
  --btn-wrap__btn-bg: var(--black-850);
  --main-banner-bg: var(--black-850-a50);
  
  --footer-copy-logo-bg: var(--white-50-a10);
  --header__nav-bg: var(--white-50-a10);
  
  --border: 1px solid var(--white-150-a50);
  
  --text-color: var(--white-150);
  
  --logo-text: var(--green-400);
  --input-accent-color: var(--green-400);
  --img-info-color: var(--green-400);
  --img-data-wrap-border-color: var(--green-400);
  --info-link-color: var(--green-400);
  
  --footer-copy-text-color: var(--grey-400);
  --logo-bg: var(--grey-600-a30);
  
  --color-scheme: dark;
  
  
  /*projects*/
  --project-type-bg: var(--black-850);
  
  --status-alpha-color: var(--red-400);
  --status-alpha-bg: var(--black-850);
  --status-alpha-border-color: var(--red-400);
  
  --status-beta-color: var(--yellow-400);
  --status-beta-bg: var(--black-850);
  --status-beta-border-color: var(--yellow-400);
  
}
